@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html,
body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll hidden;
}

h1 {
    font-size: 64px;
    font-weight: 700;
}

h2 {
    font-size: 50px;
    font-weight: 800;
}

h3 {
    font-size: 40px;
    font-weight: 600;
}

h4 {
    font-size: 34px;
    font-weight: 700;
}

p {
    font-size: 27px;
    font-weight: 400;
}

text {
    font-size: 24px;
    font-weight: 700;
}

.navbar {
    margin-top: 0.5%;
    justify-content: center;
    display: grid;
    grid-template-areas: "logo home sobrenos blog doacoes voluntario eventos loja doe";
    grid-template-columns: 220px 150px 150px 150px 150px 150px 150px 150px 220px;
    grid-template-rows: 80px;
    grid-column-gap: 5px;
}

.navbar .active::after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: blue;
    margin-top: 5px;
}

.logo {
    grid-area: logo;
    justify-content: center;
    align-items: center;
    display: flex;
}

.home {
    grid-area: home;
    justify-content: center;
    align-items: center;
    display: flex;
}

.home a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.sobrenos {
    grid-area: sobrenos;
    justify-content: center;
    align-items: center;
    display: flex;
}

.sobrenos a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.blog {
    grid-area: blog;
    justify-content: center;
    align-items: center;
    display: flex;
}

.blog a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.doacoes {
    grid-area: doacoes;
    justify-content: center;
    align-items: center;
    display: flex;
}

.doacoes a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.voluntario {
    grid-area: voluntario;
    justify-content: center;
    align-items: center;
    display: flex;
}

.voluntario a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.eventos {
    grid-area: eventos;
    justify-content: center;
    align-items: center;
    display: flex;
}

.eventos a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.loja {
    grid-area: loja;
    justify-content: center;
    align-items: center;
    display: flex;
}

.loja a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.doe {
    grid-area: doe;
    justify-content: center;
    align-items: center;
    display: flex;
}

.doe button {
    border-style: solid;
    border-color: #007CE0;
    border-radius: 16px;
    background-color: #007CE0;
    width: 135px;
    height: 45px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.doe a {
    text-decoration: none;
    color: white;
    font-size: 22px;
}

.box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    height: 660px;
    width: 1528px;
    background: url(../img/sobrenos/box1.png);
    border-radius: 25px;
    color: #fff;
}

.box1 h1 {
    font-size: 44.91px;
}

.box1 p {
    margin-top: 3px;
    font-size: 18.95px;
}

.box-bekind {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 10px;
    height: 115px;
    width: 1528px;
    background-color: #EEF0F2;
    border-radius: 25px;
}

.img-bekind {
    margin-left: 55px;
    height: 44px;
    width: 166.88px;
    background: url(../img/sobrenos/img-bekind.png);
}

.quem-somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    width: 1528px;
    color: #252525;
}

.quem-somos h1 {
    font-size: 50px;
}

.quem-somos p {
    font-size: 27px;
    margin-top: 19px;
}

.nosso-grupo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 100px 0;
}

.nosso-grupo h1 {
    font-size: 50px;
}

.nosso-grupo p {
    font-size: 27px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 40px;
    width: 1528px;
    margin-top: 26px;
}

.card-ceo {
    position: relative;
    width: 290px;
    border-radius: 25px;
    background-repeat: no-repeat;
    margin: 0 100px;
}

.card-ceo h4 {
    font-size: 36px;
}

.card-ceo p {
    font-size: 27px;
    font-weight: bold;
    color: #007CE0;
}

.card-ceo h5 {
    font-size: 24px;
    font-weight: 400;
}